* {
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 4vw;
}

#container {
  padding-top: 2vw;
}

.box {
  border: 1px solid white;
  width: 200px;
  height: 200px;
}

input {
  margin-top: 1vw;
}
